
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("assets/bg.jpg");
    font-family: helvetica, arial, sans-serif;
    background-size: cover;
    
}

.container {
    width: 50%;
    height: 100%;
    margin: auto;
}

.navBar {
    display: flex;
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}

ul {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin: auto;
    align-content: center;
    margin: 0;
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
}

li {
    margin-top: 50px;
    background-color: #A73634;
    color: white;
    width: 25%;
    /* height: 33px; */
    text-align: center;
    /* padding-top: 10px; */
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 3px solid rgba(191, 191, 191, 0.4);
    background-clip: padding-box;
}

.lines {
   
}

.topImage {
    width: 100%;
    height: 250px;
    border: solid 7px white;
    margin-top: 10px;
    background-image: url("assets/grid.png"), url("assets/top-image.png");
    background-position: 30% 25%;
    background-size: 140%;
    /* border-bottom: 3px solid rgba(191, 191, 191, 0.4);
    background-clip: padding-box; */
}

.threeCircles {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.redDot {
    height: 12px;
    width: 12px;
    background-color: #983D38;
    border-radius: 50%;
    margin: 5px;
    align-self: center;
    border: solid 4px white;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.logoImage {
    width: 40%;
    padding-top: 40px;
    margin-left: 10px;
}

.paragraphs {
    display: flex;
    justify-content: space-between;
    
}

.paragraphs div {
    width: 32.5%;
    background-color: white;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 3px solid rgba(191, 191, 191, 0.4);
    background-clip: padding-box;
    
}

.pHeading {
    font-size: 18px;
    color: #494A45
}

span {
    color: #C2C2C2;
    font-size: 10px;
    line-height: 4;
}

.pBody {
    font-size: 10px;
    line-height: 1.8;
    color: #898989
}

.boardImages {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-around;
    border-bottom: 3px solid rgba(191, 191, 191, 0.4);
    background-clip: padding-box;
}

.boards {
    height: 180px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    border-bottom: 3px solid rgba(191, 191, 191, 0.4);
    background-clip: padding-box;
}
  
.textField {
    width: 45%;
    height: 30px;
    padding-left: 10px;
}

textarea {
    width: 45%;
    font-family: helvetica, arial, sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
}
  
#nameText {
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px inset #B2B2B2;
    color: #B2B2B2;
    border: 1px solid #B2B2B2;
}

input::placeholder {
    color: #D2D2D2;
    font-size: 12px;
}

textarea::placeholder {
    color: #D2D2D2;
    font-size: 12px;
}

#emailText {
    margin-top: 10px;
    margin-right: 20px;
    box-shadow: 2px 2px inset #B2B2B2;
    color: #B2B2B2;
    border: 1px solid #B2B2B2;
}

#areaText {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px inset #B2B2B2;
    color: #B2B2B2;
    border: 1px solid #B2B2B2;
}

.submitBtn {
    background-color: #A73634;
    border: none;
    color: white;
    padding: 6px 60px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

