
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-image: url("assets/bg.jpg");
    font-family: helvitica, arial, sans-serif;
    background-size: cover;
}

.container {
    width: 50%;
    height: 100%;
    margin: auto;
}

.navBar {
    display: flex;
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}

ul {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin: auto;
    align-content: center;
    margin: 0;
    width: 100%;
}

li {
    margin-top: 50px;
    background-color: #A73634;
    color: white;
    width: 25%;
    height: 33px;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.topImage {
    width: 100%;
    height: 250px;
    border: solid 8px white;
    margin-top: 10px;
    background-image: url("assets/grid.png"), url("assets/top-image.png");
    background-position: 30% 25%;
    background-size: 140%;
}

.logoImage {
    width: 40%;
    padding-top: 40px;
    margin-left: 10px;
}

.paragraphs {
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.paragraphs p {
    width: 32.5%;
    background-color: white;
}

.boardImages {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-around;
}

.boards {
    height: 180px;
}

.bottomForm {
    
}